<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.745843607835-4orr59i7engb88kdb3r36rkbobip9sr6</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
    		<string>google</string>
    		<string>com.google</string>
    		<string>com.google.chrome.ios</string>
    		<string>com.google.GPPShare</string>
    		<string>com.google.GPP</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow the app to access geolocation for this module to work properly</string>
</dict>
</plist>
